body {
	width: 1000px;
	margin: 0 auto;
	padding: 2px 0;
	background: #eee;
	font-family: "Trebuchet MS", "Liberation Sans", "DejaVu Sans", sans-serif;
}

h1 {
	margin: 0;
	padding: 10px 0;
}

h2 {
	margin: 0;
	padding: 5px 0;
}

p {
	margin: 0;
	padding: 2px;
}

ul {
	margin: 0;
}

#header {
	height: 60px;
	margin: 2px;
	padding: 10px;
	background: white;	
}

#menu {
	margin: 2px;
	padding: 10px;
	background: white;
}

#content {
	margin: 2px;
	padding: 10px;
	background: white;
}

#footer {
	margin: 2px;
	padding: 2px;
	background: white;
}

#messages {
	padding: 0;
}

#messages li {
	list-style-type: none;
	padding: 2px;
	color: white;
}

#messages .info {
	background: green;
}

#messages .warn {
	background: orange;
}

#messages .error {
	background: red;
}

#messages .fatal {
	background: purple;
}

label.error {
    color: #c66;
}

input.error, select.error, textarea.error {
    background-color: #fee;
}